html{
	width: 100%;
	height: 100%;
	overflow: scroll;
	font-size: 62.5%;

}

body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Microsoft Yahei;
}
.top{
	position:relative;
}

#list {
        width: 1000px;
        height: 1000px;
        margin: 50px auto 2px auto;
        position: relative
    }
    
    #list ul li {
        float: left;
        width: 185px;
        height: 190px;
        margin-top: 30px;
        list-style: none;
        margin-left: 10px;
    }
    
    #list ul li a {
        display: block;
        width: 170px;
        position: absolute;
        height: 175px;
    }
    
    #list ul li img {
        width: 160px;
        height: 168px
    }
    
    #list ul li p{
       position: relative;
       font-size: 14px;
       text-align: left;
       margin-top: 170px;
       color: #3377aa;
    }
     #list ul li p i{
      font-size: 17px;
      color: #67F1F8;
     }
    #pagecount {
        width: 500px;
        margin: 10px auto 2px auto;
        padding-bottom: 20px;
        text-align: center;
    }
    
    #pagecount span {
        margin: 4px;
        font-size: 14px
    }
    
    #list ul li#loading {
        width: 120px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #d3d3d3;
        position: absolute;
        top: 35%;
        left: 42%;
        text-align: center;
        background: #f7f7f7 url(../images/loading.gif) no-repeat 8px 8px;
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    }