<!DOCTYPE html>
<html>
<head>
	<title>书籍详情页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/book.css">
</head>
<body>
	<script type="text/javascript" color="255,0,0" opacity='0.7' zIndex="-2" count="200" src="../js/canvas-nest.js"></script>
		<nav class="navbar navbar-default navbar-fixed-top " role="navigation top">
	<!-- banner begin -->
	<div class="container-fluid top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a  href="#" class="navbar-brand nav-title title">BM图书管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right ">
      <li id="click1"><a onclick=""  class="glyphicon glyphicon-home"  ></a></li>
      <li id="click2"><a  class="glyphicon glyphicon-refresh"  ></a></li>
      <li id="click3"><a onclick=""  class="glyphicon glyphicon-user"  ></a></li>
      </ul>
	</nav>
	<!-- banner end -->
	<!-- 书籍详情 begin -->
	<div class="container content">
		<div class="row"> 
		<div class="panel panel-default">
    	<div class="panel-heading">
        <h3 class="panel-title">
            书籍详情
        </h3>
   		 </div>
   		 <div class="panel-body">
   		 <div id="pic" class="left">
   		 	<!-- <img class="img-responsive" src="../images/01.jpg"> -->
   		 </div>
   		 <div id="list" class="right">
   		 	<ul class="list-unstyled">
   		 		<!-- <li>书名：</li>
   		 		<li>作者：</li>
   		 		<li>出版社：</li>
   		 		<li>简介:<p></p></li>
   		 		<li>库存：</li> -->
   		 	</ul>
   		 </div>
   		 <div class="bottom">
   		 <div  class="button1">
   		 	<button id="borrow" type="button" class="btn btn-warning btn-lg ">借阅</button>
   		 </div>
   		 <div class="button2">
   			<button type="button" class="btn btn-info btn-lg  ">预定</button>
   		</div>
 		 </div>

   		 </div>
   		 </div>	
    	</div>
	</div>
		</div>
	</div>
	<!-- 书籍详情 end -->

	<!-- 页尾 begin -->
	<div class="navbar-fixed-bottom jumbotron text-center" style="margin-bottom:0">
   		<p style="font-size: 15px">免责声明：本网站仅为作业设计，书籍等信息不用于商用，仅供参考<br>若侵犯了您的版权，请与我联系，邮箱：943664394@qq.com
   		<br>@BM图书管理系统-VERSION:0.0.1</p>
  </div>
  <!-- 页尾 end -->

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/book.js"></script>
</body>
</html>