<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
<script type="text/javascript" color="255,0,0" opacity='0.7' zIndex="-2" count="200" src="../js/canvas-nest.js"></script>
<nav class="navbar navbar-default navbar-fixed-top " role="navigation top">
	<!-- banner begin -->
	<div class="container-fluid top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a  href="#" class="navbar-brand nav-title title">BM图书管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right ">
      <li id="click"><a href="../index.html" class="glyphicon glyphicon-home"  ></a></li>
      <li id="click"><a href="#" class="glyphicon glyphicon-refresh"  ></a></li>
      </ul>
	</nav>
	<!-- banner end -->
<form class="main-box" role="form" action="" method="post">
    <h3 class="form-header">读者登录</h3>
    <div class="form-group">
        <label for="email">邮箱：</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="pwd">密码：</label>
        <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary btn-block">登录</button>
    <a class="extra" href="./register.html">注册</a><a class="extra" href="../index.html">回到首页</a><a class="extra" href="./mlogin.html">管理员入口</a>
</form>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/login.js"></script>
</body>
</html>